body {
    text-align: center;
    background-color: rgb(49, 49, 49);
}

.btn {
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 30%;
    margin: 0.5rem;
}

.heading {
    color: palegreen;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.purple {
    background-color: rgb(250, 25, 250);
}

.yellow {
    background-color: rgb(250, 250, 2);
}

.green {
    background-color: rgb(28, 247, 28);
}

.red {
    background-color: rgb(255, 29, 29);
}

.flash {
    background-color: white;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.top-row h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.top-row h5 {
    margin-left: auto;
    white-space: nowrap;
}